mixin product(title, image, price)
  .product
    .wrapper
      img(
        src="images/products/#{image}.jpg"
        )
      .text
        h2 #{title}
        p € #{price}

mixin brabomail(naam, mail)
    if typeof(mail) === 'undefined'
      p
        a(href="mailto:#{naam}@hcbrabo.be") #{naam}
    else
      p
        a(href="mailto:#{mail}@hcbrabo.be") #{naam}
