mixin product(title, imageID, price)
  .product
    .wrapper
      img(
        src="images/products/#{image}#{imageID}.jpg"
        )
      .text
        h2 #{title}
        p € #{price}

mixin lid(functie, naam, achternaam, text, ft)
    .lid
      if typeof(ft) === 'undefined'
        img(
          src="images/leden/#{naam}.jpg"
          )
      else
        img(
          src="images/leden/#{ft}.jpg"
          )
      .text
        h2 #{functie}
        h3 #{naam} #{achternaam}
        p #{text}
  
mixin event(image, naam, datum, plaats, text)
    .event
      img(
        src="images/events/#{image}.jpg"
        )
      .text
        h2 #{naam}
        h3 #{datum} 
        h3 #{plaats}
        p #{text}

mixin sponsor(image, naam, text)
    .sponsor
      .text
        h2 #{naam}
        p #{text}
        
      img(
        src="images/sponsors/#{image}.jpg"
        )
